name: CI

# We can specify which Github events will trigger a CI build
on: push

# define a single job, which is called build
jobs:

  build:

    strategy:
      matrix: 
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: [3.8, 3.9]

    # specify the OS of the runner
    runs-on: ${{ matrix.os }}

    # define our steps
    steps: 

      #Firstly, checkout the repo
      - name: Checkout repository
        uses: actions/checkout@v2

      # Set up Python env
      - name: Set up Python 3.9
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      
      # Install dependencies
      - name: Install Python dependencies
        run: |
          python3 -m pip install --upgrade pip
          pip3 install -r requirements.txt
          pip3 install -e .
      
      # Run our tests
      - name: Test with PyTest
        run: |
          pytest --cov=inflammation.models tests/test_models.py


    